/* Space out content a bit */
body {
  padding-top: 30px;
  padding-bottom: 30px;
	background: #f5f5f5;
}

/* Customize container */
.container {
	background: #fff;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
